<h2>This is the question list page.</h2>

<h3>From Monty Python</h3>

<table class="table" style="width: 400px">
<% for (var i=0; i < questions.length; i++) { %>
   <tr>
     <td><%= questions[i] %></td>
     <td><%= answers[i] %></td>
   </tr>
<% } %>
</table>

